/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
    url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url(../fonts/Montserrat-Medium.woff2) format("woff2"),
    url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2"),
    url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),
    url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Muller", sans-serif;
  --orange-light-color: #ffb84d;
  --orange-medium-color: #ff9900;
  --orange-dark-color: #e1670e;
  --green-color: #97ee3f;
  --white-color: #ffffff;
  --grey-light-color: #cacaca;
  --grey-medium1-color: rgba(0, 0, 0, 0.5);
  --grey-medium2-color: #666666;
  --grey-dark-color: #414141;
  --black-color: #000000;
  --container-padding: 50px;
  --gap: 32px;
  --border-radius: 32px;
}

body {
  min-width: 320px;
  background-color: var(--white-color);
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 25px 39px;
  border-radius: calc(var(--border-radius) / 2);
  font-family: var(--font-family);
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section-title {
  font-family: var(--font-family);
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  color: var(--black-color);
}

/*header*/
.header {
  padding: 14px 0px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--white-color);
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 72px;
  width: 225px;
}

.header__logo:focus {
  outline: none;
}

.header__right {
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.header__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.header__link {
  position: relative;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  color: var(--black-color);
  line-height: 1.9;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-medium-color);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  outline: 2px solid var(--orange-medium-color);
  outline-offset: 5px;
}

.header__link:active {
  color: var(--orange-dark-color);
}

.header__link:active::after {
  opacity: 1;
  background-color: var(--orange-dark-color);
}

.header__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding-top: 3px;
}

.header__search:focus {
  outline: none;
}

.header__search:hover rect {
  fill: var(--orange-medium-color);
}

.header__search:hover path {
  stroke: var(--orange-medium-color);
}

.header__search:focus-visible .search-icon {
  outline: 2px solid var(--orange-medium-color);
  outline-offset: 4px;
}

.header__search:active rect {
  fill: var(--black-color);
}

.header__search:active path {
  stroke: var(--black-color);
}

.search-icon {
  width: 24px;
  height: 24px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.header__search-field {
  display: none;
  width: 300px;
  border: 0;
}

/*main*/
.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.banner {
  padding: 50px 0 25px 0;
}

.banner__inner {
  padding: 100px 80px;
  border-radius: var(--border-radius);
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner__text {
  width: 52%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__tagline {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-size: 70px;
  line-height: 1.22;
  font-weight: 800;
  color: var(--white-color);
}

.banner__descr {
  margin-bottom: 90px;
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--white-color);
}

.banner__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: var(--orange-medium-color);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.banner__btn:hover,
.banner__btn:focus-visible {
  background-color: var(--orange-light-color);
}

.banner__btn:focus {
  outline: none;
}

.banner__btn:active {
  background-color: var(--orange-dark-color);
}

/*about-us*/
.about-us {
  padding: 25px 0 50px 0;
}

.about-us__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__title {
  margin-bottom: 20px;
  line-height: 1.24;
}

.about-us__text {
  margin-bottom: 50px;
  width: 70%;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about-us__blog {
  -webkit-column-gap: var(--gap);
     -moz-column-gap: var(--gap);
          column-gap: var(--gap);
}

.about-us__preview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: var(--border-radius);
}

.blog-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background-image: url("../img/blog1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-1__descr {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
  padding: 50px;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-1__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.4px;
  color: var(--white-color);
}

.blog-1__btn {
  padding: 18px 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: 3px solid var(--orange-medium-color);
  font-size: 16px;
}

.blog-1__btn:hover,
.blog-1__btn:focus-visible {
  background-color: var(--orange-medium-color);
}

.blog-1__btn:active {
  background-color: var(--orange-dark-color);
  outline-color: var(--orange-dark-color);
}

.about-us__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: var(--gap);
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.blog-2,
.blog-3 {
  padding: 65px 106px 65px 300px;
  border: 1px solid var(--grey-light-color);
  border-radius: var(--border-radius);
  background-position: 60px center;
  background-repeat: no-repeat;
  background-size: 190px 165px;
}

.blog-2 {
  background-image: url("../img/blog-2.svg");
}

.blog-3 {
  background-image: url("../img/blog-3.svg");
}

.blog-2__text,
.blog-3__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black-color);
}

.about-us__preview__title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  color: var(--black-color);
  width: 100%;
}

/*stages*/
.stages {
  padding: 50px 0 50px 0;
}

.stages__title {
  margin-bottom: var(--gap);
  line-height: 1.2;
}

.stages__item__wrapper {
  position: relative;
  min-height: 460px;
}

.stages__left-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 43%;
}

.stages__item__wrapper::before {
  content: "";
  position: absolute;
  width: 49%;
  bottom: 0;
  right: 0;
  top: 10px;
  border-radius: 32px;
  background-image: url('../img/stage1.jpg');
  background-size: cover;
  background-position: center;
}

.stages__item__descr {
  margin-bottom: 18px;
}

.stages__item__title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  color: var(--black-color);
}

.stages__item__text {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black-color);
}

.stages__btns {
  -webkit-column-gap: var(--gap);
     -moz-column-gap: var(--gap);
          column-gap: var(--gap);
}

.stages__btn-1,
.stages__btn-2 {
  padding: 20px 38px;
  font-family: var(--font-family);
  font-size: 16px;
}

.stages__btn-1 {
  background-color: var(--orange-medium-color);
  color: var(--white-color);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.3s ease-in;
  transition: color 0.4s ease-in-out, background-color 0.3s ease-in;
}

.stages__btn-2 {
  border: 1px solid var(--black-color);
  font-weight: 400;
  color: var(--black-color);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.stages__btn-1:hover,
.stages__btn-1:focus-visible {
  background-color: var(--orange-light-color);
}

.stages__btn-2:hover,
.stages__btn-2:focus-visible {
  color: var(--white-color);
  border-color: var(--grey-medium2-color);
  background-color: var(--grey-medium2-color);
}

.stages__btn-1:focus,
.stages__btn-2:focus {
  outline: none;
}

.stages__btn-1:active {
  background-color: var(--orange-dark-color);
}

.stages__btn-2:active {
  background-color: var(--black-color);
}

/*questions*/
.questions {
  padding: 50px 0 100px 0;
}

.questions__title {
  margin-bottom: 34px;
}

.questions__list {
  gap: var(--gap);
}

.questions__list>* {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 568px;
          flex: 0 1 568px;
}

.questions__item {
  padding: 65px 58px;
  border: 1px solid var(--grey-light-color);
  border-radius: 32px;
}

.questions__question {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black-color);
}

.questions__answer {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black-color);
}

/*footer*/
.footer {
  padding: 50px 0;
  background-color: var(--black-color);
}

.footer__container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: space-between; */
  -ms-flex-preferred-size: 20.6%;
      flex-basis: 20.6%;
}

.footer__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__logo {
  margin-bottom: 20px;
  width: 224px;
}

.footer__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  color: var(--grey-light-color);
  cursor: pointer;
  -webkit-transition: color .4s ease-in-out, outline .4s ease-in-out;
  transition: color .4s ease-in-out, outline .4s ease-in-out;
}

.footer__link:hover {
  color: var(--orange-medium-color);
}

.footer__link:focus-visible {
  outline: 2px solid var(--orange-medium-color);
  outline-offset: 5px;
}

.footer__link:active {
  color: var(--orange-dark-color);
}

.footer__social-network {
  margin-top: auto;
}

.footer__social__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.footer__social__link {
  display: inline-block;
}

.footer__social__link:focus {
  outline: none;
}

.footer__social__link:focus-visible {
  outline: 2px solid var(--orange-medium-color);
  outline-offset: 5px;
}

.footer__social-icon:hover path {
  fill: var(--orange-medium-color);
}

.footer__social-icon:focus {
  outline: none;
}

.footer__social-icon:active path {
  fill: var(--orange-dark-color);
}

.footer__centr-column {
  min-width: 570px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 32.2%;
      flex-basis: 32.2%;
}

.footer__title {
  margin-bottom: 25px;
  line-height: 1.2;
  color: var(--grey-light-color);
}

.footer__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  margin-bottom: 34px;
}

.footer__input {
  width: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 14px 24px;
  border: none;
  border-radius: 16px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--grey-light-color);
  background-color: var(--grey-dark-color);
  -webkit-transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.footer__input:hover,
.footer__input:focus-visible {
  background-color: var(--grey-medium2-color);
}

.footer__input:focus {
  outline: none;
}

.footer__input:active {
  color: var(--white-color);
  background-color: var(--grey-medium2-color);
}

.footer__textarea {
  height: 150px;
  resize: none;
}

.footer__btns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn {
  padding: 19px 52px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--orange-medium-color);
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.footer__btn:hover,
.footer_btn:focus-visible {
  background-color: var(--orange-light-color);
}

.footer__btn:focus {
  outline: none;
}

.footer__btn:active {
  background-color: var(--orange-dark-color);
}

.footer__checkbox label {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--grey-light-color);
}

.footer__checkbox__icon {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__checkbox__icon + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__checkbox__icon + label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid var(--grey-light-color);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__checkbox__icon:checked + label::before {
  background-image: url("../img/checkbox.svg");
}

.footer__right-column {
  -ms-flex-preferred-size: 20.5%;
      flex-basis: 20.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__text {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--grey-light-color);
}
